.NavBox,
.AboutBox {
	background-color: rgb(87, 187, 87);
	padding: 1% 1% 1% 1%;
	width: 85%;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	border-width: 1.5px;
	border-style: solid;
	border-color: black;
}

.NavBox {
	margin-top: 1%;
}

.AboutBox {
	margin-top: 2%;
}

.NavBoxTextTitleWrapItem,
.AboutBoxTextCenter {
	background-color: rgb(40, 46, 40);
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}

.NavBoxTextTitleWrapItem {
	width: 29%;
}

.AboutBoxTextCenter {
	width: 15%;
	margin-bottom: 1.5%;
}

.NavBoxTextTitle,
.AboutBoxTextTitle {
	font-family: "Bungee";
	color: white;
}

.NavBoxTextTitle {
	font-size: 2.5vw;
}

.AboutBoxTextTitle {
	font-size: 2vw;
}

.NavBoxText,
.LaunchAppButton {
	font-family: "Bungee";
}

.NavBoxText {
	font-size: 1.35vw;
}

.LaunchAppButton {
	font-size: 1.4vw;
}

.AboutBoxText {
	font-family: "Bungee";
	font-size: 1vw;
}
