.NavBox {
	background-color: rgb(87, 187, 87);
	padding: 1% 1% 1% 1%;
	width: 62.5%;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

.NavBoxTextTitleBox {
	background-color: rgb(40, 46, 40);
	border-radius: 20px;
	width: 350px;
}

.NavBoxTextTitle {
	font-family: "Bungee";
	font-size: 40px;
	color: white;
}

.NavBoxText {
	font-family: "Bungee";
	font-size: 20px;
}
